################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuickConfig/.vs
/QuickConfig/QuickConfig/bin/Debug
/QuickConfig/QuickConfig/obj/Debug
